/* src/styles/AboutPage.css */
.about-background {
  background-image: url('https://miro.medium.com/v2/resize:fit:640/format:webp/1*ZcInYZW1b4smeHkDaRJBeQ.jpeg');
  background-size: cover;
  background-position: center;
  height: 80vh; /* Full screen height */
  display: flex;
  justify-content: flex-start; /* Align overlay to the left */
  align-items: center;
  position: relative;
  color: white;
  padding-left: 10%; /* Adjust the left padding to move overlay */
}

.about-overlay {
  text-align: left; /* Left-align text */
  background: rgba(0, 0, 0, 0.5); /* Transparent overlay */
  padding: 40px;
  border-radius: 10px;
  max-width: 600px; /* Limit the width of the overlay */
}

.about-overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-overlay p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.create-account-btn {
  background-color: #1976d2; /* Green background */
  color: white;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.create-account-btn:hover {
  background-color: orangered; /* Darker green on hover */
}

/* src/styles/AboutPage.css */

/* Features Section */
.features-section {
  padding: 60px 0;
  background-color: #f8f9fa;
  text-align: center;
}

.features-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.features-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #555;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

.feature-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(4, 40, 243, 0.5);
  padding: 30px;
  text-align: center;
}

.feature-box h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.feature-box p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .features-description {
    font-size: 1rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .features-heading {
    font-size: 2rem;
  }
}
