.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    height: 100vh;
    padding-top: 64px;
  }

  .main-content.no-padding {
    padding-top: 0;
  }
  
  .content {
    flex-grow: 1;
    background-color: #f9f9f9;
    overflow-y: auto;
  }
  