.learning-sidebar {
  width: 300px;
  background-color: #fff;
  padding: 0px !important;
  border-right: 1px solid #ddd;
  height: 100vh;
  position: fixed;
  top: 64px;
  left: 0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  
}

.learning-sidebar h2 {
  font-size: 26px;
  margin: 10px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topic-item {
  min-height: 65px;
  cursor: pointer;
  padding: 12px;
  border: 1px solid #c4c2c2;
  transition: background 0.3s;
}

.topic-item.active {
  background-color: white;
}

.topic-item:hover {
  background-color: white;
}

.topic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px; /* To add some space below the topic name */
}

.subtopics-count {
  font-size: 14px;
  color: #888;
  margin-left: 4px;
}

.subtopics {
  list-style: none;
  display: none;
}

.subtopics.expanded {
  display: block;
}

.subtopic-item {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.subtopic-item:hover {
  background-color: #f1f1f1;
}

.subtopic-checkbox {
  margin-right: 10px;
}

.take-test-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 100px;
}

.take-test-btn:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

.learning-sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
}



@media (max-width: 768px) {
  .learning-sidebar {
    width: 250px;
  }
}
