.sidebar {
  background-color: blue;
  color: white;
  padding: 20px;
  width: 110px; /* Shrinks the sidebar when not expanded */
  height: 100%;
  transition: width 0.2s ease; /* Smooth transition for width change */
  overflow: hidden; /* Hides content when sidebar is collapsed */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.expanded {
  width: 250px; /* Expands the sidebar on hover */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Aligns icon and text vertically */
}

.sidebar li a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 220px;
}

.sidebar li a:hover {
  background-color: white;
  color: blue;
}

.sidebar li a svg {
  margin-right: 10px; /* Adds space between icon and text */
  transition: transform 0.3s ease, font-size 0.3s ease; /* Smooth transition for icon size */
  font-size: 24px; /* Icon size when sidebar is not expanded */
}

.sidebar li a:hover svg {
  transform: scale(1.2); /* Increase icon size when hovered */
}

.sidebar li a.selected {
  border-left: 4px solid white; /* White line on the left of the icon when selected */
}

.sidebar-icon {
  font-size: 24px; /* Default icon size */
}

.sidebar.expanded .sidebar-icon {
  font-size: 30px; /* Larger icon size when the sidebar is expanded */
}
